---
layout: default
title: Mike Henderson
description: The digital home of STATMIKE, Mike Henderson, a normal guy who happens to be a statistician, father, leader, believer, coder, data gentleman, and swell Bayesian.
<!-- featured_image: /images/demo/home.jpg -->
featured_image: /images/mike_headshot.jpeg
---

<section class="hero">


	<div class="hero__image" style="background-image: url({{ page.featured_image }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

		<h1>Mike Henderson</h1>
		<p>&#123;&#123;Creative, Curious, Compassionate&#125;,<br>
			&#123;Leader, Father, Believer&#125;,<br>
			&#123;Coder, Data Gentleman, Swell Bayesian&#125;&#125;</p>

		{% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

		{% for post in site.posts reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ post.featured_image }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
					<p class="post__subtitle">{{ post.subtitle }}</p>
					<p class="post__description">{{ post.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

</section>
